body {
  margin: 0;
  padding: 0;
  position: relative;
}

#background {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: black;
}

#board {
  background-color: black;
  border: 20px solid greenyellow;
  height: 600px;
  width: 800px;
  position: absolute;
}

#snake {
  background-color: greenyellow;
  position: absolute;
}

#food {
  background-color: greenyellow;
  position: absolute;
}

#score {
  background-color: black;
  font-family: fantasy;
  font-size: large;
  color: greenyellow;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 2%;
}
